@import url('https://fonts.googleapis.com/css?family=Mansalva|Quicksand&display=swap');
body {
  background-color: #6ecc82;
  text-align: center;
  align-content: center;
}

h1 {
  font-family: 'Mansalva', cursive;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  font-size: 5rem;
}

h2 {
  font-family: 'Mansalva', cursive;
  font-size: 2rem;
}

.red {
  color: #be4848;
}

.blue {
  color: #639bc9;
}

.yellow {
  color: #eaec69;
}

ul {
  list-style-type: none;
}

section {
  margin: 0 auto;
  padding: 20px 0 35px 0;
  background-color: rgb(241, 241, 214);
  border-radius: 10px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  width: 80vw;
  max-width: 1000px;
}

.task-input-box {
  padding: 10px;
  width: 40vw;
  max-width: 400px;
  border-radius: 8px;
  font-size: 1rem;
}

.add-button {
  margin-left: 20px;
  padding: 10px;
  background: #639bc9;
  color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
}